{% extends 'base.html' %}
{% block menu %}
<a class="navbar-brand" href="{% url 'record_add' %}">Add Record</a>
{% endblock %}
{% block content %}
    <h1 class="mt-3">Гостевая книга</h1>
    <div class="row">
        {% for record in records %}
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-text">{{ record.name }}({{ record.email }})
                            <a class="icon" href={% url 'record_update' record.pk %}><img src="https://image.flaticon.com/icons/png/512/221/221653.png" style="height: 20px"></a>
                            <a class="icon" href={% url 'record_delete' record.pk %}><img src="https://api.icons8.com/download/2831e1dc118290aec39e73675d0191c599988586/windows10/PNG/512/Editing/delete-512.png" style="height: 25px"></a>
                        </h5>
                        <p class="card-text">{{ record.text }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}